li{
    list-style-type:none;
    margin:0;
    padding:10px;}
a{
    text-decoration:none;
    color:#000;}

/*---------------------按钮-----------------------------*/
.login_putin ul li input{
    margin: 0;
    width:70%;
    padding: 1em 2em 1em 5.4em;
    -webkit-border-radius:.3em;
    -moz-border-radius: .3em;
    border: 1px solid #999;
}

.login_btn{
    width:300px;
    margin:40px auto 0 auto;
}

.login_btn input{
    width:100%;
    margin:0;
    padding:.5em 0;
    -webkit-border-radius:.3em;
    -moz-border-radius: .3em;
    border:#1263be solid 1px;
    background:#1b85fd;
    color:#FFF;
    font-size:17px;
    font-weight:bolder;
    letter-spacing:1em;
}

.login_btn input:hover{
    background:#1263be;
}